/* -----------------------------------------------------
 * Import Matugen Colors
 * ----------------------------------------------------- */
@import '../../../../../.config/waybar/colors.css';

@define-color primary @inverse_primary;
@define-color icon_color @secondary;
@define-color border_color @primary;
@define-color background @primary;

/* -----------------------------------------------------
 * ORIGINAL
@define-color primary @on_secondary;
@define-color icon_color @secondary;
@define-color border_color @secondary;
@define-color background @primary;
 * ----------------------------------------------------- */

@import '../style.css';

/* custom welcome app module */
#custom-kiopp-welcome {
    padding-right: 12px;
    font-size: 24px;
    font-family: "Material Icons";
    color: @icon_color;
}

#custom-exit {
    font-size: 18px;
}
